# Django #
*.log
*.pot
*.pyc
__pycache__
*.sqlite3
media
.DS_Store

# Backup files # 
*.bak 

# Environments 
*.env
env/ 

# Visual Studio Code # 
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history